body{
background-color: azure;
}
.container {
    position: relative;
    width: 70%;
}

.container img {
    width: 100%;
    height: auto;
}

.text-overlay {
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);
    color: white; 
    font-size: 24px; 
    background-color: rgba(255, 255, 255, 0.5); 
    padding: 10px; 
    border-radius: 5px;
        }