body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #7688f0;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}

.container {
    position: center;
    width: 100%;
    max-width: 1200px;
    margin: 20px auto;
    overflow: hidden;
}

.container img{
    width: 100%;
    height: auto;
}

.text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 24px;
    background-color: rgba(0, 0, 0, 0.5); 
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    max-width: 80%; }

    .info, .details, .volunteers {
        max-width: 1200px;
        margin: 20px auto;
        padding: 20px;
        background-color: white;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }
    
    .info h2, .details h2, .volunteers h2 {
        max-width: 1200px;
        margin: 20px auto;
        padding: 20px;
        background-color: white;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(202, 28, 28, 0.945);
    }
    
    .info p, .details p, .volunteers p {
        line-height: 1.6;
        color: #666;
    }

    .modalidades ul {
        list-style-type: disc;
        margin: 10px 0;
        padding-left: 20px;
    }

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    width: 100%;
}
